@page
@model Book.Pages.Events.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<div class="container">

    <h1 class="btn btn-sm btn-danger">Delete</h1>

    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>Event</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Event.Title)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Event.Title)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Event.Photo)
            </dt>
            <dd class="col-sm-10">
                <div style=" background-size: cover;height: 70px;width:70px; background-image: url('@Model.Event.Photo')"></div>
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Event.Author)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Event.Author)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Event.Content)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Event.Content)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Event.EventType)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Event.EventType)
            </dd>
        </dl>

        <form method="post">
            <input type="hidden" asp-for="Event.Id" />
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a asp-page="./Index">Back to List</a>
        </form>
    </div>
</div>
