@page
@model Book.Pages.Events.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1 class="btn btn-sm btn-info">Details</h1>

<div class="container">

    <div>
        <h4>Event</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Event.Title)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Event.Title)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Event.Photo)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Event.Photo)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Event.Author)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Event.Author)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Event.Content)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Event.Content)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Event.EventType)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Event.EventType)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-page="./Edit" asp-route-id="@Model.Event.Id">Edit</a> |
        <a asp-page="./Index">Back to List</a>
    </div>
</div>
