@page
@model Book.Pages.Users.IndexModel

@{
    ViewData["Title"] = "Index";
}

<div class="container justify-content-center">
    <h1>Index</h1>
    <p>
        <a class="btn btn-sm btn-primary" asp-page="Create">Create New</a>
    </p>

    <div class="row">
        @foreach (var item in Model.User)
        {
            <div class="col-md-4">
                <div class="card p-3 py-4 mt-5 mb-5">
                    <div class="text-center">
                        <img src="@item.Photo" width="100" height="100" class="rounded-circle">
                        <h3 class="mt-2">@item.FirstName @item.MiddleName</h3>
                        <span class="mt-1 clearfix">@item.College</span>
                        <small class="mt-4">@item.UserType</small>
                        <div class="mt-2">
                            <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                            <a class="text-danger" asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                        </div>
                        <div class="social-buttons mt-4">
                            <button class="neo-button">
                                <i class="fa fa-facebook fa-1x"></i>
                            </button>

                            <button class="neo-button">
                                <i class="fa fa-linkedin fa-1x"></i>
                            </button>

                            <button class="neo-button">
                                <i class="fa fa-google fa-1x"></i>
                            </button>

                            <button class="neo-button">
                                <i class="fa fa-youtube fa-1x"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>